#blogspage{
    @extend .center;
    max-width: 1100px;
    padding: 5rem 2rem;

    .blog{
        margin: 3rem 0 5rem;
        .image{
            height: 450px;
            background: lightgrey;
        }

        .texts{
            .title{
                font-size: 1.3rem;
                font-weight: 600;
                padding: .65rem 0;
                color: $primary;
            }

            p{
                color: grey;
            }
        }
    }
}