#contactpage{
    @extend .center;
    max-width: 1100px;
    padding: 4rem 2rem;

    .map{
        height: 400px;
        background: lightgrey;
    }

    .contact{
        display: flex;
        flex-direction: row-reverse;
        gap: 3rem;
        margin: 6rem 0;
        align-items: center;
        justify-content: space-between;
        padding: 2rem ;
        background: lighten($primary,47);

        .socials{
            width: 50%;
            background: lightgrey;
            display: flex;
            flex-direction: column;
            gap: .85rem;
            padding: 4rem 3rem;
            background: #fff;
        }

        .form{
            width: 50%;
            padding: 2rem 1rem;

            .label{
                text-align: center;
                font-size: 1.2rem;
                font-weight: 500;
                padding-bottom: 1.5rem;
                color: $primary;
            }

            form{
                .control{
                    display: flex;
                    flex-direction: column-reverse;
                    gap: .4rem;
                    padding-bottom: 1rem;

                    input,textarea{
                        width: 100%;
                        border: 1px solid lightgrey;
                        outline: none;
                        padding: .65rem;
                    }

                    textarea{
                        resize: none;
                        height: 5rem;
                    }

                    label{
                        font-size: .9rem;
                        color: grey;
                    }
                }

                .click{
                    @extend .center;
                }
            }
        }
    }
}