#loginpage{
    // max-width: 1200px;
    // @extend .center;
    background: lighten($primary,47);
    padding: 5rem 0;
    min-height: 100vh;

    .form{
        @extend .center;
        max-width: 500px;
        background: #fff;

       form{
        .redirect{
            padding: 1rem 0;
            color: grey;

            a{
                color: $primary;
            }
        }
       }
    }
}