* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.center, #loginpage .form, #blogspage, #contactpage, #aboutpage, #testimonials, #gallery .images, #products .productgrid, #hero, .pagemessage, .form form .click, header nav, footer div, .adminpage, .page {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

body {
  background: rgb(238, 238, 238);
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.click {
  display: inline-block;
  position: relative;
  padding: 0.8rem 1.2rem;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  border: none;
  outline: none;
  background: #d0744d;
  transition: all 0.4s;
}
.click:hover {
  background: #a54f2c;
}
.click.secondary {
  background: #fff;
  color: rgb(185, 89, 49);
}
.click.secondary:hover {
  background: #f5e2da;
}

.page {
  max-width: 1300px;
}

.adminpage {
  max-width: 1100px;
  padding: 5rem 2rem;
}
.adminpage .heading {
  font-size: 1.35rem;
  font-weight: 600;
  padding-bottom: 0.65rem;
}

main {
  min-height: 100vh;
  background: #fff;
}
main .heading {
  font-size: 1.9rem;
  color: rgb(185, 89, 49);
  padding: 0.4rem 0;
  font-weight: 300;
}
main .subheading {
  color: grey;
  font-size: 0.95rem;
  margin-bottom: 2rem;
}
main .headings {
  margin-left: 8rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex a {
  color: rgb(185, 89, 49);
}

footer {
  padding: 4rem 2rem;
  background: #914626;
}
footer div {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  padding: 4rem 1rem 5rem;
  max-width: 1100px;
}
footer div p.abouttext {
  max-width: 500px;
  color: #fff;
}
footer div ul {
  display: flex;
  flex-direction: column;
  gap: 0.65rem;
}
footer div ul a {
  text-decoration: none;
  font-size: 0.9rem;
  color: #fff;
}
footer .copy {
  text-align: center;
  background: #fff;
  color: rgb(185, 89, 49);
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
}

header {
  position: sticky;
  width: 100%;
  z-index: 10;
  top: 0;
  background: rgb(185, 89, 49);
}
header nav {
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: flex-end;
  padding: 1rem 3rem;
  max-width: 1300px;
}
header nav .logo {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.7rem;
}
header nav ul {
  display: flex;
  gap: 1.75rem;
  align-items: flex-end;
}
header nav ul button {
  border: none;
  outline: none;
  color: #fff;
  position: relative;
  background: transparent;
  cursor: pointer;
}
header nav ul button:focus-within ul {
  display: flex;
}
header nav ul button ul {
  cursor: auto;
  display: none;
  position: absolute;
  top: 2rem;
  border-radius: 0.65rem;
  flex-direction: column;
  padding: 1rem;
  background: #fff;
  align-items: flex-start;
  gap: 0.55rem;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.3019607843);
}
header nav ul button ul:focus-within {
  display: flex;
}
header nav ul button ul a {
  color: grey;
  font-size: 0.8rem;
  padding-right: 2rem;
  transition: all 0.2s;
}
header nav ul button ul a:hover {
  color: rgb(185, 89, 49);
}
header nav ul a {
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
}
header nav ul a.click {
  margin-left: 3rem;
}

.banner {
  padding: 1.5rem 3rem;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  background: #f7e9e2;
}
.banner .image {
  position: relative;
  width: 80%;
  height: 250px;
  background: lightgrey;
  z-index: 1;
}
.banner .image .texts {
  position: absolute;
  left: -20%;
  background: #fff;
  padding: 3rem;
  top: 50%;
  width: 50%;
  transform: translateY(-50%);
}
.banner .image .texts .heading {
  font-size: 1.5rem;
  font-weight: 500;
}
.banner .image .texts p {
  color: grey;
  padding: 0.55rem 0;
}

.form {
  width: 50%;
  padding: 2rem 1rem;
}
.form .label {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  padding-bottom: 1.5rem;
  color: rgb(185, 89, 49);
}
.form form .control {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.4rem;
  padding-bottom: 1rem;
}
.form form .control input, .form form .control textarea {
  width: 100%;
  border: 1px solid lightgrey;
  outline: none;
  padding: 0.65rem;
}
.form form .control input:focus, .form form .control textarea:focus {
  border-color: rgb(185, 89, 49);
}
.form form .control input:focus + label, .form form .control textarea:focus + label {
  color: rgb(185, 89, 49);
}
.form form .control textarea {
  resize: none;
  height: 5rem;
}
.form form .control small {
  color: rgb(255, 55, 0);
  font-size: 0.85rem;
}
.form form .control label {
  font-size: 0.9rem;
  color: grey;
}
.pagemessage {
  position: fixed;
  top: 100px;
  z-index: 10;
  padding: 0.75rem;
  font-size: 0.9rem;
  max-width: 600px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.862745098);
  border: 1px solid rgb(185, 89, 49);
  text-align: center;
}

table {
  border: 1px solid rgb(185, 89, 49);
  border-collapse: collapse;
  width: 100%;
}
table thead td {
  font-weight: 700;
  color: rgb(142, 142, 142);
}
table td {
  border: 1px solid rgb(185, 89, 49);
  padding: 0.45rem 1rem;
  color: rgb(142, 142, 142);
}

#hero {
  padding: 4rem 3rem;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../../images/homebg.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  max-width: 1300px;
}
#hero .image {
  height: 470px;
  background: grey;
  position: relative;
  width: 80%;
}
#hero .image img {
  position: absolute;
}
#hero .intro {
  padding: 2rem 2rem;
  background: rgba(255, 255, 255, 0.98);
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 0%;
  width: 50%;
}
#hero .intro h1 {
  color: rgb(185, 89, 49);
}
#hero .intro p {
  padding: 0.85rem 0;
}

#about {
  display: flex;
  align-items: flex-start;
  background: #f7e9e2;
}
#about > div {
  width: 50%;
}
#about > div:first-child {
  padding: 7rem 3rem;
}
#about .images {
  height: 400px;
  position: relative;
}
#about .images div {
  position: absolute;
  width: 33%;
  height: 80%;
  top: 2rem;
  left: 0;
  background: lightgrey;
}
#about .images div.image1 {
  top: -1rem;
  left: 0;
}
#about .images div.image2 {
  left: 50%;
  bottom: 0;
  top: auto;
  transform: translateX(-50%);
  z-index: 1;
  border: 8px solid #f7e9e2;
  width: 40%;
}
#about .images div.image3 {
  left: auto;
  right: 0;
}
#about .texts {
  padding: 4rem 3rem;
  background: #fff;
}
#about .texts h3 {
  font-size: 1.7rem;
  font-weight: 300;
  color: rgb(185, 89, 49);
}
#about .texts p {
  padding: 1.5rem 0;
  line-height: 150%;
}

#products {
  background: #fff;
  padding: 7rem 0;
}
#products .productgrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  padding: 3rem 0;
  max-width: 1000px;
}
#products .productgrid .product {
  height: 400px;
  background: lightgrey;
  position: relative;
}
#products .productgrid .product .details {
  position: absolute;
  bottom: 3rem;
  left: 0;
  background: #fff;
  padding: 1rem;
  width: 90%;
}
#products .productgrid .product .details .productname {
  color: rgb(185, 89, 49);
  font-size: 0.9rem;
  font-weight: 600;
}
#products .productgrid .product .details .productdescription {
  padding: 1rem 0;
  color: grey;
  font-size: 0.9rem;
}
#products .productgrid .product .details .click {
  transform: scale(0.9);
  transform-origin: 0;
}

#gallery {
  padding: 7rem 0rem;
  background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url("../../images/homebg.jpg");
  background-position: center;
  background-size: cover;
}
#gallery .images {
  height: 550px;
  margin: 2rem 0;
  max-width: 1100px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  grid-template-areas: "p1 p2 p2 p3 " "p4 p4 p5 p5";
}
#gallery .images .p1 {
  grid-area: p1;
  background: lightgrey;
}
#gallery .images .p2 {
  grid-area: p2;
  background: lightgrey;
}
#gallery .images .p3 {
  grid-area: p3;
  background: lightgrey;
}
#gallery .images .p4 {
  grid-area: p4;
  background: lightgrey;
}
#gallery .images .p5 {
  grid-area: p5;
  background: lightgrey;
}

#testimonials {
  max-width: 1300px;
  display: flex;
}
#testimonials > div {
  width: 50%;
  padding: 7rem 4rem 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url("../../images/homebg.jpg");
  background-position: center;
  background-size: cover;
}
#testimonials > div.images .image {
  background: grey;
  height: 400px;
  width: 100%;
}
#testimonials > div.texts {
  background: #fff;
}
#testimonials > div.texts .testimonial {
  padding: 0 2rem;
}
#testimonials > div.texts .testimonial .heading {
  margin-bottom: 2rem;
}
#testimonials > div.texts .testimonial p.name {
  color: rgb(185, 89, 49);
  font-weight: 600;
}
#testimonials > div.texts .testimonial p.comment {
  color: grey;
  padding: 0.5rem 0;
}

#aboutpage {
  max-width: 1100px;
  padding: 3rem 0;
}
#aboutpage .aboutflex {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  padding: 5rem 3rem;
  align-items: center;
}
#aboutpage .aboutflex:nth-of-type(odd) {
  flex-direction: row-reverse;
}
#aboutpage .aboutflex .image {
  width: 50%;
  height: 350px;
  background: lightgrey;
}
#aboutpage .aboutflex .texts {
  width: 50%;
}
#aboutpage .aboutflex .texts .heading {
  font-size: 1.5rem;
}
#aboutpage .aboutflex .texts p {
  color: grey;
}

#contactpage {
  max-width: 1100px;
  padding: 4rem 2rem;
}
#contactpage .map {
  height: 400px;
  background: lightgrey;
}
#contactpage .contact {
  display: flex;
  flex-direction: row-reverse;
  gap: 3rem;
  margin: 6rem 0;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background: #f7e9e2;
}
#contactpage .contact .socials {
  width: 50%;
  background: lightgrey;
  display: flex;
  flex-direction: column;
  gap: 0.85rem;
  padding: 4rem 3rem;
  background: #fff;
}

#blogspage {
  max-width: 1100px;
  padding: 5rem 2rem;
}
#blogspage .blog {
  margin: 3rem 0 5rem;
}
#blogspage .blog .image {
  height: 450px;
  background: lightgrey;
}
#blogspage .blog .texts .title {
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0.65rem 0;
  color: rgb(185, 89, 49);
}
#blogspage .blog .texts p {
  color: grey;
}

#loginpage {
  background: #f7e9e2;
  padding: 5rem 0;
  min-height: 100vh;
}
#loginpage .form {
  max-width: 500px;
  background: #fff;
}
#loginpage .form form .redirect {
  padding: 1rem 0;
  color: grey;
}
#loginpage .form form .redirect a {
  color: rgb(185, 89, 49);
}/*# sourceMappingURL=app.css.map */