
header{
    position: sticky;
    width: 100%;
    z-index: 10;
    top: 0;
    nav{
        display: flex;
        justify-content: space-between;
        height: 70px;
        align-items: flex-end;
        padding: 1rem 3rem;
        background: $primary;

        .logo{
            color: #fff;
            text-decoration: none;
            font-weight: 600;
            font-size: 1.7rem;
        }

        ul{
            display: flex;
            gap: 1.75rem;

            a{
                text-decoration: none;
                color: #fff;
                font-size: .9rem;
            }
        }
    }
}